.o-wrapper {
  min-height: 100vh;
  max-width: 20em;
  margin: 0 auto;
  padding: 1em;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
}