.c-player-piece {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  transform: rotate(-90deg);

  .line {
    stroke-dasharray: 500;
    stroke-dashoffset: -500;
    animation: piece-appear 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  .line:nth-child(2) {
    animation-delay: 0.25s;
  }
}

@keyframes piece-appear {
  to {
    stroke-dashoffset: 0;
  }
}