.c-player-piece {
  animation-name: piece-appear;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 0.66s;
}

@keyframes piece-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}