.u-player--player-one {
  color: $colour-player-one;

  svg {
    stroke: $colour-player-one;
  }
}

.u-player--player-two {
  color: $colour-player-two;

  svg {
    stroke: $colour-player-two;
  }
}
