* { box-sizing: border-box }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #EEFCFF;
  background: #00d2ff;
  background: radial-gradient(ellipse at top, #00d2ff, #3a7bd5);
  background-repeat: no-repeat;
}

.o-wrapper {
  min-height: 100vh;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
}

.o-wrapper__game {
  margin: auto;
}
