$colour-background-light: #00d2ff;
$colour-background-shade: #3a7bd5;
$colour-foreground: #fff;

$colour-player-one: #FF00A8;
$colour-player-two: #DEFF00;

@import 'base';

@import 'objects/o-wrapper';

@import 'utilities/u-push-bottom';
@import 'utilities/u-player';

@import 'components/c-button';
@import 'components/c-background';
@import 'components/c-game-board';
@import 'components/c-board-square';
@import 'components/c-player-piece';